/ext/autom4te.cache
/ext/build
/ext/include
/ext/.libs
/ext/modules
/ext/aclocal.m4
/ext/acinclude.m4
/ext/config.guess
/ext/config.h
/ext/config.h.in
/ext/config.log
/ext/config.nice
/ext/config.status
/ext/config.sub
/ext/configure
/ext/configure.ac
/ext/install-sh
/ext/libtool
/ext/ltmain.sh
/ext/*.lo
/ext/*.la
/ext/Makefile*
/ext/missing
/ext/mkinstalldirs
/ext/php-liner.loT
/ext/run-tests.php
/ext/tmp-php.ini
/viewer/vendor
/vendor
