/ext/autom4te.cache
/ext/build
/ext/include
/ext/.libs
/ext/modules
/ext/aclocal.m4
/ext/acinclude.m4
/ext/config.guess
/ext/config.h
/ext/config.h.in
/ext/config.log
/ext/config.nice
/ext/config.status
/ext/config.sub
/ext/configure
/ext/configure.ac
/ext/install-sh
/ext/libtool
/ext/ltmain.sh
/ext/php-liner.lo
/ext/php_liner.la
/ext/Makefile
/ext/Makefile.fragments
/ext/Makefile.global
/ext/Makefile.objects
/ext/missing
/ext/mkinstalldirs
/ext/php-liner.loT
/ext/run-tests.php
/vendor
